{% extends 'base.html' %}

{% block title %}
    Formularz wypełniony
{% endblock %}

{% block content %}

    <div class="wrapper">
        <div id="formContent" style="max-width: 600px">
            <h1>UWAGA<br>Prosimy o kliknięcie linku w wiadomości</h1>
            <h2>Na Twój adres e-mailowy została wysłana prośba o potwierdzenie autentyczności adresu e-mail. Prosimy o
                kliknięcie linku w wiadomości, w celu potwierdzenia swojej tożsamości.</h2>
        </div>
    </div>

{% endblock %}